{% extends "base.html" %}

{% block body %}

<p class="h1">
	#{{ class_id }}: {{ class_name }}
</p>
<br>
<div>
	<form action="/attendance/{{ class_id }}" id="attendance" method="post">
		<button type="submit" class="btn btn-primary" style="width: 100%;">Initiate Attendance</button>
	</form>
</div>
<br>
<hr>
<p class="h4">
Add Students<br>
</p>
<div>
	<form action="/add_studs/{{ class_id }}" id="addStuds" method="post">
		<textarea class="form-control" id="students_list" name="students_list"></textarea><br>
		<button class="btn btn-success" type="Add Students">+ Add Students</button>
	</form>
</div>

<style>
	th 
	{
	  vertical-align: bottom;
	  text-align: center;
	}
	
	th span 
	{
	  -ms-writing-mode: tb-rl;
	  -webkit-writing-mode: vertical-rl;
	  writing-mode: vertical-rl;
	  transform: rotate(180deg);
	  white-space: nowrap;
	}
</style>

<hr>
<p class="h3">
Attendance Report
</p>
<table class="table table-bordered border-primary">
	<tr>
		<th>{{ cols[0] }}</th>
		{% for col in cols[1:-1] %}
		<th><span>{{ col }}</span></th>
		{% endfor %}
		<th>{{ cols[-1] }}</th>
	</tr>
	{% for row in rows %}
	<tr>
		{% for r in row %}
		{% if r==1 %}
		<td style="background-color: #00CC00;">{{ r }}</td>
		{% elif r==0 %}
		<td style="background-color: #CC0000;">{{ r }}</td>
		{% else %}
		<td>{{ r }}</td>
		{% endif %}
		{% endfor %}
	</tr>
	{% endfor %}
  </table>
{% endblock %}